<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <!-- <a href="/views/About.html"></a> -->
        <a href="Works">Works</a>
        <a href="/">Home</a>
            </nav>
<h1>About Elon Musk</h1>
 
<p>He is the founder, chairman, CEO, and chief technology officer of SpaceX; angel investor, CEO and product architect of Tesla, Inc.; owner and CTO of Twitter; founder of the Boring Company</p>


</body>
</html>