<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="About">About</a>
        <a href="Works">Works</a>
        <a href="/">Home</a>
            </nav>
    
    <img src= "https://upload.wikimedia.org/wikipedia/commons/3/34/Elon_Musk_Royal_Society_%28crop2%29.jpg" width="200" alt="Ellon Musk">
    <img src="https://image.cnbcfm.com/api/v1/image/105265756-GettyImages-970630710.jpg?v=1560955377" width="400" alt="Flamethrower">
    <img src="https://cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/MH42ZQ7JZZEFVKPBFY4QBH4QKY.jpg" width="400" alt="">
</body>
</html>